In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('pynb/glass.csv')

In [5]:
data.head(15)

         RI     Na    Mg    Al     Si     K    Ca   Ba    Fe  Type
0   1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.00     1
1   1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.00     1
2   1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.00     1
3   1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.00     1
4   1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.00     1
5   1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.0  0.26     1
6   1.51743  13.30  3.60  1.14  73.09  0.58  8.17  0.0  0.00     1
7   1.51756  13.15  3.61  1.05  73.24  0.57  8.24  0.0  0.00     1
8   1.51918  14.04  3.58  1.37  72.08  0.56  8.30  0.0  0.00     1
9   1.51755  13.00  3.60  1.36  72.99  0.57  8.40  0.0  0.11     1
10  1.51571  12.72  3.46  1.56  73.20  0.67  8.09  0.0  0.24     1
11  1.51763  12.80  3.66  1.27  73.01  0.60  8.56  0.0  0.00     1
12  1.51589  12.88  3.43  1.40  73.28  0.69  8.05  0.0  0.24     1
13  1.51748  12.86  3.56  1.27  73.21  0.54  8.38  0.0  0.17     1
14  1.51763  12.61  3.59  1.31  73.29  0.58  8.50  0.0  0.00     1

In [ ]:
y = data['type']